@import url('https://fonts.googleapis.com/css2?family=Cairo&family=Marhey:wght@700&family=Montserrat:ital,wght@1,900&display=swap');
body{
    background: #020014;
    font-family: 'Cairo', sans-serif;
}
header img{
    box-shadow: 0 0 5px 5px #fafafa50;
    border-radius: 15px;
}
header h1{
    color: #ce6e00;
    text-align: center;
    margin: 1rem 0;
    font-size: 1.5rem;
    font-weight: bolder;
}
table,tr,td,th,thead,tbody{
    background: #fafafa;
    text-align: center;
}
table{
     border-collapse: collapse;
}
    
h5{
    color: white;
    margin: .5rem 0;
}
h5 span{
    color: #ce6e00;
}
th{
    text-align: center;
     vertical-align: middle;
     
}



.mostly-customized-scrollbar {
    display: block;
    overflow: auto;
  }

  .mostly-customized-scrollbar::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: #aaa; 
    
  }
  

  .mostly-customized-scrollbar::-webkit-scrollbar-thumb {
    background: rgb(228, 161, 38);
  }


  .arrow {
    transform: rotate(90deg);
}

.arrow span {
    display: block;
    width: 10px;
    height: 10px;
    border-bottom: 3px solid rgb(228, 161, 38);
    border-right: 3px solid rgb(228, 161, 38);
    transform: rotate(45deg);
    animation: animate 2s infinite;
}

.arrow span:nth-child(2) {
    animation-delay: -0.2s;
}

.arrow span:nth-child(3) {
    animation-delay: -0.4s;
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-10px, -10px);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: rotate(45deg) translate(40px, 40px);
    }
}

    
