<div class="container">
    <div class="row mt-5">
        <div class="col-md-12">
            <img style="width: 100%;" src="https://snhr.org/wp-content/uploads/2014/04/SIRIA_-_LIeppo_devastata.jpg" alt="">
            <h1>مبادرة إعطي وخذ</h1>
        </div>
    </div>
</div>