<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6 mt-5">
                <select name="" id="cities_select" class="form-select">
                    <option value="all">الكل</option>

                </select>
            </div>
            <div class="col-md-6 mt-3">
                <input type="text" name="" placeholder="اسم المنطقة ..." id="region_name" class="form-control">
            </div>
        </div>
        <br>
        <div class="row ">
            <div class="col-md-12">
                <div class="d-flex">
                    <div class="position-relative mb-2"><h5>عدد الملاجئ : <span id="shelters_count"></span></h5></div>
                    <div class="arrow position-absolute mt-2" style="left:70px ">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>

        
                <div class="mostly-customized-scrollbar">
                 <table class="table table-bordered mb-0">
                    <thead>
                        <tr>
                            <th>الاسم</th>
                            <th>رقم التواصل</th>
                            <th>المدينة</th>
                            <th>المنطقة</th>
                            <th>تفاصيل</th>
                        </tr>
                    </thead>
                    <tbody id="shelters_container"></tbody>
                 </table>
              </div>
            </div>
        </div>
    </div>
</section>